html
  head
    title='Have to Start SomeWhere'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 HMS PIVOTAL PKS FIRST APP TEST
        p HMS PKS Demo
        <img src="http://3.bp.blogspot.com/-tn8m_59tYcI/VpC6_M0EMyI/AAAAAAAAGK0/NO64PYOSIbk/s1600/SimpleTricks.jpg" alt="Tricks">
